<% if items %>
  <div class="row">
    <% items.each do |item| %>
      <div class="item item-box">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= item.image_url %>" alt="" >
            </div>
            <div class="panel-body">
              <p class="item-title-user"><%= item.name %></p>
            </div>
            <% if logged_in? %>
            <div class="buttons text-center">
              <%= render 'ownerships/want_button', item: item %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>