@charset "UTF-8";

.signup{
	padding-top:100px;
}

.panel-user{
	width:800px;
}

.user-icon{
	width:200px;
}

.intro{
	width:400px;
	position:absolute;
	top:40px;
	left:280px;
}

.edit{
	position:absolute;
	top:8px;
	left:90px;
}

.show-bar{
	margin-top:40px;
}